[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	compression = 0
[http]
	postBuffer = 524288000
	maxRequests = 30
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[lfs]
	concurrenttransfers = 32
